*
{
    margin: 0;
    padding: 0;
}
.head ul li
{
    display: inline;
    margin: 30px;
    
}
.head ul li a
{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
.head ul li a:hover
{
    color: blueviolet;
    text-decoration: overline;

}
.head ul li a:hover::before
{
    content: "";
    background-color: white;
    bottom: 0;
    height: 2.5px;
    left: 0;
    right: 100%;
    position: absolute;
    width: 100%;
    transition: all;
    transition-duration: 2s;
}
.head
{
    margin-left: 350px;
    margin-top: 25px;
}
.head ul li:last-child
{
    display: none;
}
.nav button
{
    width: 9%;
    height:2.4em;
    background-color: transparent;
    border: 2px double blueviolet;
    font-size: 1em;
    margin-top: 20px;
    margin-left: 90px;
    cursor: pointer;
}
.nav button a
{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}
/* .nav button:hover
{
    background-color: black;
    color: white;
}
.nav button a:hover
{
    color: white;
} */
.nav
{
    display: flex;
    margin-top: 5px;
    margin-left: 44px;
}
.nav .fa-bars

{

    display: none;

}

.container

{

    background-color: #080031;

    padding: 1px;
    

}

.borcontainer

{

    background-color: #080031;

}

.border

{

    height: 3px;
    width: 95vw;
    margin: auto;
    background-color: blueviolet;
    border-radius: 10px;

}
.portfolio
{
    background-color: #080031;
}
.portfolio h2
{
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-size: 1.5em;
    color: white;
    text-align: center;
    padding-top: 30px;
}
.arshacontent .line
{
    padding: 5px;
    width: 100px;
    transform: skew(-15deg);
    background:blueviolet;
    margin-top: 5px;
}

/* .arshacontent .line::before {
    content: "";
    position: absolute;
    left: 50px;
    bottom: 16px;
    width: 100px;
    height: 10px;
    transform: skew(-15deg) translateX(-50%);
    background-color: blueviolet;
    z-index: -1;
  } */
  .arshacontent .secondline
  {
    padding: 5px;
    width: 50px;
    transform: skew(-15deg);
    background:blueviolet;    
    margin-top: 5px;
  }
    .arsha
    {
        display: flex;
        font-family: 'Josefin Sans', sans-serif;
        color: white;
    }
    .arsha h2
    {
        font-size: 1.5em;
    }
    .arshacontent
    {
        margin-left: 40px;
        margin-top: 25px;

    }
    .arshaImg
    {
        width: 50%;
        opacity: 1;
        border: 10px inset blueviolet;
        border-radius: 10px;
        padding: 5px;
    }
    .arshaImg:hover
    {
        opacity: 0.5;
        cursor: pointer;
    }
    .website
    {
        display: grid;
        grid-template-columns: repeat(2,auto);
        width: 90%;
        margin: auto;
        justify-content: space-between;
        grid-row-gap: 60px;
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .websitecon
    {
        background-color: #080031;
    }
    .arsha button
    {
        width:80px;
        height:2em;
        background-color: transparent;
        border: 2px double blueviolet;
        font-size: 1em;
        margin-top: 20px;
        cursor: pointer;
    }
    .arsha button
    {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    }
    .arsha button:hover
    {
        background-color: blueviolet;
    }


@media screen and (max-width:480px) and (min-width:320px){

    .head
    {
        position: fixed;
        right: 100vw;
        margin-top: -6px;
        gap:0;
        background-color:blueviolet;
        transition: 0.3s;
        width: 70%;
        height: 100vh;
    }
    .head ul li
    {
        display: block;
        margin: 40px 40px;
    }
    .head ul
    {
        margin-top: 100px;
    }
    .head.active
    {
        right: 30vw;
    }
    .head ul li a
    {
        font-size: x-large;
    }
    .head ul li:last-child
    {
    display: block;
    }
    .nav button
    {
        display: none;
    }
    .nav .fa-bars
    {
        display: block;
        color: white;
        font-size: 2em;
        margin-top: 25px;
        margin-right: 30px;
        cursor: pointer;
    }
    .portfolio h2
    {
        font-size: 1.3em;
    }
    .arsha
    {
        display:flex;
        flex-direction:column;
        font-family: 'Josefin Sans', sans-serif;
        color: white;

        
    }
    .website
    {
        display: grid;
        grid-template-columns: auto;
        margin: auto;
        grid-row-gap: 50px;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .arsha h2
    {
        font-size: 1.3em;
    }
    .arshacontent
    {
        margin-left: 20px;
        margin-top: 20px;

    }
    .arshaImg
    {
        width: 80%;
        opacity: 1;
        border: 10px inset blueviolet;
        border-radius: 10px;
        padding: 5px;
        margin: auto;
    }
    .arsha button
    {
        width:80px;
        height:2em;
        background-color: transparent;
        border: 2px double blueviolet;
        font-size: 1em;
        margin-top: 15px;
        cursor: pointer;
    }



    

}

@media screen and (max-width:768px) and (min-width:481px){

    .head
    {
        position: fixed;
        right: 100vw;
        margin-top: -6px;
        gap:0;
        background-color:blueviolet;
        transition: 0.3s;
        width: 70%;
        height: 100vh;
    }
    .head ul li
    {
        display: block;
        margin: 40px 40px;
    }
    .head ul
    {
        margin-top: 100px;
    }
    .head.active
    {
        right: 30vw;
    }
    .head ul li a
    {
        font-size: x-large;
    }
    .head ul li:last-child
    {
    display: block;
    }
    .nav button
    {
        display: none;
    }
    .nav .fa-bars
    {
        display: block;
        color: white;
        font-size: 2em;
        margin-top: 25px;
        margin-left: 300px;
        cursor: pointer;
    }
    
    .portfolio h2
    {
        font-size: 1.5em;
    }
    .arsha
    {
        display:flex;
        flex-direction:column;
        font-family: 'Josefin Sans', sans-serif;
        color: white;

        
    }
    .website
    {
        display: grid;
        grid-template-columns: auto;
        margin: auto;
        grid-row-gap: 60px;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .arsha h2
    {
        font-size: 1.5em;
    }
    .arshacontent
    {
        margin-left: 60px;
        margin-top: 20px;

    }
    .arshaImg
    {
        width: 80%;
        opacity: 1;
        border: 10px inset blueviolet;
        border-radius: 10px;
        padding: 5px;
        margin: auto;
    }
    .arsha button
    {
        width:80px;
        height:2em;
        background-color: transparent;
        border: 2px double blueviolet;
        font-size: 1em;
        margin-top: 15px;
        cursor: pointer;
    }

}